h1{
color:red;
border:8px;
border-color:red;
border-style:dashed;
}
h2{
<color:red;
border:6px;
border-color:red;
border-style:solid;
}
img{
border-style:solid;
border-width:8px;
border-radius:5px;
border-color:blue;
}

.navbar{
list-style:none;
padding:2px;
}
.navbar li {
float:left;
color:white;
background-color:gray;
padding:5px;
}
footer{
color:white;
background-color:gray;
}

